img{
    max-width: 100%;
}
.one{
    width: 100%;
    height:4px;
    background-color: #975705;
}
.header{
    width: 100%;
    background-color: #edd9c0;
    padding: 25px;
}
.topo{
    text-align: right;
}
.topo ul li{
    display: inline-block;
    margin-left:30px;
    margin-top: 30px;
   }
.topo ul li a{
    font-family:arial;
    font-size: 20px;
    font-weight: bold;
    color: #975705;
    text-decoration: none;
    text-transform:uppercase;
    line-height: 15px;


}
.topo ul li a:hover{
    color: #9c8e7d;
}
/*aqui vai o banner*/

.banner{
    width: 100%;
    height: 400px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    text-align: center;
}
.banner h1{
    font-family: oswald;
    font-size: 70px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px #000;
    margin-top: 110px;
    margin-bottom: 50px;
}
.banner a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
     padding: 10px 15px;
    width: 30px;
    height: 20px;
    color: #fff;
    background-color: #975705;
    border: 2px solid #d8d0c5;
    text-decoration: none;
    border-radius: 15px;

    
}
.banner a:hover{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 15px;
    width: 30px;
    color: #975705;
    background-color: #d8d0c5;
    border: 2px solid #975705;
    text-decoration: none;
    border-radius: 15px;
    transition: all 0.5s;

}

/*Combos de cafes*/
.cafes h2 {
    margin-top: 70px;
    font-family: oswald;
    font-size: 45px;
    text-align: center;
    color: #975705;
    text-transform: uppercase;
}
.cafes p{
    font-family: lato;
    font-size: 15px;
    color: #52330b;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.cafes p span{
    font-family: lato;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #52330b;
    font-size: 35px;
}
.cafes {
    margin-top: 75px;
}
.cafes li{
    font-family: lato;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #975705;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
}
.combo img {
    border-radius: 25px;
}
.combo img {
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}
.combo img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.combo h3{
    
    color: #975705;
    border-top: 4px solid #975705;
    font-family: oswald;
    font-size: 20px;
    font-weight: bold;

}
.combo p{
    font-family: lato;
    font-size: 15px;
    color: #52330b;
    line-height: 20px;
    text-transform: initial;
    text-align: center;
    margin-bottom: 20px;
}

.combo h4 a{
   background-color:#9c8e7d;
   padding: 15px;
   color: #fff;
   font-family:Oswald;
   line-height: 55px;
   text-decoration: none;
   border-radius: 15px;
   border: 2px solid #edd9c0;
}
.combo h4 a:hover{
    background-color:#975705;
    color: #fff;
    transition: all 0.5s;
}
#paes{
    background-color: #f5f5f5;
}
/*slide*/

.slide{
    margin-top: 20px;

}
.slide h3{
    margin-top: 75px;
    font-family: oswald;
    font-size: 40px;
    text-align: center;
    color: #975705;
    text-transform: uppercase;
    
}
.slide p {
    font-family: lato;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #52330b;
    font-size: 35px;
    margin-bottom: 70px;
}

.itens{
    display: flex;
    overflow-x: auto;
}
.itens img{
    width:100%;
    height: 100%;
    

}
.slide{
    flex:none;
}

/*Localização*/
.localizacao h2{
  margin-top: 75px; 
  font-family: oswald;
  font-size: 45px; 
  color:#52330b;
  text-transform: uppercase;
  text-align: center;

}
.localizacao p{
    font-family: lato;
    font-size: 24px;
    color: #52330b;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.localizacao2{
    margin-top:50px;
    width: 100%;
    height: 300px;
    text-align: center;
    margin-bottom: 50px;
}
.localizacao {
    text-align: center;
}
.localizacao img{
    width: 20%;
    border-radius: 50px;
    border: 4px solid #e0bd8f;
    margin-bottom: 50px;
}

.localizacao img:hover{
    width: 25%;
    border-radius: 50px;
    border: 2px solid #e0bd8f;
    transition: all 0.5s;
}
/***footer*/
.footer{
    width: 100%;
    height: 100px;
    background-color: #975705;
    text-align: center;
}
.footer p a{
    font-family: lato;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
}
.footer h3{
    color: #fff;
    text-decoration:#975705;

}

/*Scroll bar*/
::-webkit-scrollbar
::-webkit-scrollbar-thumb

::-webkit-scrollbar-track{
   background-color: #975705;
}
::-webkit-scrollbar{
    width: 4px;
    background-color: #975705;
    
}
::-webkit-scrollbar-thumb{
    background-color: #dac9b3;
    
}